<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>WeShop thông báo nạp tiền thành công</title>
    </head>

    <body style="margin:0;padding:0;background-color:#2796b6">
        <table bgcolor="#2796b6" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: rgb(102, 102, 102);">
            <tbody>
                <tr>
                    <td>
                        <table style="border-collapse:collapse" align="center" border="0" cellpadding="0"
                               cellspacing="0" width="600">

                            <tbody>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" bgcolor="#ffffff" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:20px 0 17px 15px" width="33.33%" align="center">
                                                        <a href="http://weshop.com.vn" target="_blank">
                                                            <img class="CToWUd" src="http://weshop.com.vn/mail/image/weshop_logo.png" alt="Weshop" width="116" height="44">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:#ffffff; border-bottom:2px solid #e67425; color:#2796b6; font-size:24px; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; padding:15px 0px 15px;font-weight: bold;"
                                        align="center">
                                        thông báo hoàn tiền thành công
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="padding:0 0 0 0;border:1px solid #e3e3e3;border-top:none;border-bottom:none;background: #fff"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" style="" align="center">
                                                        <img src="http://weshop.com.vn/mail/image/shadow.png" width="100%"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:20px 20px 0 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666">
                                                                        Kính chào Quý khách [CUSTOMER_NAME] <b> </b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:20px 20px 20px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666">
                                                                        <p>
                                                                            [WEBSITE_NAME] xin thông báo tới quý khách. Tài khoản ví của quý khách vừa được hoàn lại với số tiền <b>[TOTAL_AMOUNT][CURRENCY_CODE]</b> .
                                                                        </p>
                                                                        <p>
                                                                            Giao dịch <b>[TRANSACTION_CODE]</b> hoàn tiền <b>[STATUS]</b> vào lúc <b>[CREATE_AT]</b>.
                                                                        </p>
                                                                        <p>
                                                                            Số dư trong ví hiện tại của quý khách <b>[TOTAL_BALANCE] [CURRENCY_CODE]</b>
                                                                        </p>
                                                                        <p> Cảm ơn quý khách đã sử dụng dịch vụ của [WEBSITE_NAME]</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="padding-top: 20px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding:5px 20px 0 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666">
                                                                    Mọi thắc mắc và góp ý, Quý khách vui lòng liên hệ với chúng tôi
                                                                    qua:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:5px 20px 0 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666">
                                                                    Email hỗ trợ: <font color="#0388cd">
                                                                    <a href="mailto:[EMAIL_SUPPORTER]" target="_blank">[EMAIL_SUPPORTER]</a>
                                                                </font>
                                                                    hoặc
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:5px 20px 0 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666">
                                                                    Tổng đài Chăm sóc khách hàng: [HOT_LINE]
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:20px 20px 20px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666">
                                                                    Weshop trân trọng cảm ơn và rất hân hạnh được phục vụ Quý khách.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:5px 20px 20px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666666;font-style:italic">
                                                                    <b>*Quý khách vui lòng không trả lời email này*</b>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="33.33%" align="center" style="border-right: 1px solid #ccc">
                                                        <a href="#" style="color: #2796b6; text-decoration: none;">Kiểm tra đơn hàng</a>
                                                    </td>
                                                    <td width="33.33%" align="center" style="border-right: 1px solid #ccc">
                                                        <a href="#" style="color: #2796b6; text-decoration: none;">Chính sách đổi trả</a>
                                                    </td>
                                                    <td width="33.33%" align="center">
                                                        <a href="#" style="color: #2796b6; text-decoration: none;">Điều khoản & điều kiện</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="http://weshop.com.vn/mail/image/mailbox.png" alt="" width="694"/>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="background: #2f96b4; color: #fff;">
                        <p style="margin-bottom: 0">Having trouble reading this email? <a href="#" style="color: #e67425; text-decoration: none">Click here</a>
                        </p>
                        <p style="margin-top: 0">If you are not interested to receive this email, click <a href="#" style="color: #e67425; text-decoration: none">Unsubscribe</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>