# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/api/runtime/
/backend/runtime/
/userbackend/runtime/
/wallet/runtime/
/i18n-cache/

# common
/common/config/main-local.php
/common/config/params-local.php
/common/config/test-local.php

# bowerrc
.bowerrc

#codecept.phar
backend/codecept.phar
api/tests/_support/ApiTester.php

#------------------
.phpunit.result.cache
laradock-ws-v4.0-api/

#-----------------
/api/config/http-origin-local.php
./api/config/http-origin-local.php

./composer.lock
.composer.lock
composer.lock

#-------------
./git
/git
