
.menu-right-prd .info-menu-right ul li {
    padding: 0 15px;
    position: relative;
}

.menu-right-prd .info-menu-right ul li a {
    color: #777;
    font-weight: bold;
}

.menu-right-prd .info-menu-right ul li.active a,
.menu-right-prd .info-menu-right ul li:hover a {
    color: #333;
}

.info-menu-right {
    display: inline-block;
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
}

.menu-right-prd .info-menu-right ul li:first-child {
    padding-left: 0;
}

.menu-right-prd .info-menu-right ul li:last-child {
    padding-right: 0;
}

.menu-right-prd .info-menu-right ul li.active:after,
.menu-right-prd .info-menu-right ul li:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #333;
    left: 0;
    bottom: -7px;
}

.banner-ld {
   /* margin-bottom: 40px;*/
}
.lmkt-prod-detail .banner-ld:nth-child(1)
{
    margin-bottom: 40px;
}
.banner-ld img {
    width: 100%;
}

.box-featured {
    margin-bottom: 40px;
}

.box-featured .title {
    font-size: 24px;
    color: #434343;
    margin-bottom: 15px;
}

.box-featured .title span {
    display: inline-block;
    position: relative;
}

.box-featured .title span:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/images/home-new/amz-line.png");
    background-size: cover;
}

.info-box-featured {
    position: relative;
    height: 595px;
    width: 100%;
    z-index: 1;
}

.hr-item {
    position: absolute;
    z-index: 2;
    background: #fff;
    border: 1px solid #e1e7ec;
    width: 381.5px;
    height: 200px;
}

.hr-item:after {
    content: '';
    display: block;
    clear: both;
}

.hr-top-right {
    top: 0;
    right: 0;
}

.hr-bt-right {
    right: 0;
    top: 196px;
}

.hr-left {
    top: 0;
    left: 0;
    width: 760px;
    height: 396px;
    overflow: hidden;
}

.hr-item.hr-left .thumb {
    width: 396px;
    height: 396px;
    overflow: hidden;
    float: left;
    position: relative;
}

.hr-item.hr-left .thumb a {
    display: table-cell;
    width: 396px;
    height: 396px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.hr-item.hr-left .thumb img {
    max-width: 396px;
    max-height: 396px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.hr-item.hr-left:hover img {
    margin-left: -15px;
}

.info-box-featured .thumb .time-tag {
    display: block;
    width: 50px;
    height: 50px;
    background: url("/images/home-new/time-tag.svg") no-repeat;
    position: absolute;
    top: -10px;
    left: 0;
}

.info-box-featured .hr-item.hr-left .thumb .time-tag {
    top: 0;
}

.hr-item.hr-left .info {
    margin-left: 410px;
    padding-top: 100px;
}

.hr-item.hr-left .info h3 {
    font-size: 20px;
    font-weight: normal;
    max-height: 44px;
    overflow: hidden;
    margin: 0;
}

.hr-item.hr-left .info h3 a {
    color: #777777;
}

.hr-item.hr-left .info h3 a:hover {
    color: #e67425;
}

.hr-item.hr-left .info .price {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0 10px;
    line-height: 1;
}

.hr-item.hr-left .info .price-box {
    font-size: 20px;
}

.hr-item.hr-left .info .old-price {
    color: #646464;
    text-decoration: line-through;
}

.hr-item.hr-left .info .off-price {
    font-weight: bold;
    color: #6B8E3A;
}

.hr-item.hr-left .info .best-sell {
    font-size: 16px;
    font-weight: bold;
    color: #E67425;
    text-transform: uppercase;
    margin-top: 7px;
}

.info-box-featured .amz-ico {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 15px;
    background: url("/images/home-new/amz-sub-logo.svg") no-repeat;
}

.info-box-featured .ebay-ico {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 15px;
    background: url("/images/home-new/ebay-sub-logo.svg") no-repeat;
}

.hr-item.hr-item-right {
    padding: 10px 0;
}

.hr-item.hr-item-right .thumb {
    width: 180px;
    height: 180px;
    float: left;
    position: relative;
}

.hr-item.hr-item-right .thumb a {
    display: table-cell;
    padding: 10px;
    width: 180px;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.hr-item.hr-item-right .thumb img {
    max-width: 160px;
    max-height: 160px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.hr-item.hr-item-right:hover img {
    margin-left: -15px;
}

.hr-item.hr-item-right .info {
    padding-top: 10px;
    margin-left: 180px;
}

.hr-item.hr-item-right .info h3 {
    font-size: 16px;
    font-weight: normal;
    max-height: 36px;
    overflow: hidden;
    margin: 0;
}

.hr-item.hr-item-right .info h3 a {
    color: #777777;
}

.hr-item.hr-item-right .info h3 a:hover {
    color: #e67425;
}

.hr-item.hr-item-right .info .price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.hr-item.hr-item-right .info .price-box {
}

.hr-item.hr-item-right .info .price-box .old-price {
    color: #646464;
    text-decoration: line-through;
}

.hr-item.hr-item-right .info .price-box .off-price {
    font-weight: bold;
    color: #6B8E3A;
}

.hr-item.hr-item-right .info .best-sell {
    font-size: 14px;
    font-weight: bold;
    color: #E67425;
    text-transform: uppercase;
    margin-top: 7px;
}

.box-featured .box .featured-box {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #e1e7ec;
    border-top: none;
}

.box-featured .box .featured-box ul {
    padding-left: 0;
    margin-bottom: 0;
}

.box-featured .box .featured-box ul:after {
    content: '';
    display: block;
    clear: both;
}

.box-featured .box .featured-box ul li {
    background: #fff;
    list-style: none;
    float: left;
    width: 33.33%;
    height: 200px;
    border-right: 1px solid #e1e7ec;
    padding: 10px 0;
}

.box-featured .box .featured-box ul li:last-child {
    border-right: none;
}

.box-featured .box .featured-box ul li .thumb {
    width: 180px;
    height: 180px;
    float: left;
    position: relative;
}

.box-featured .box .featured-box ul li .thumb a {
    display: table-cell;
    padding: 10px;
    width: 180px;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.box-featured .box .featured-box ul li .thumb img {
    max-width: 160px;
    max-height: 160px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.box-featured .box .featured-box ul li:hover img {
    margin-left: -15px;
}

.box-featured .box .featured-box ul li .info {
    padding-top: 10px;
    margin-left: 180px;
}

.box-featured .box .featured-box ul li .info h3 {
    font-size: 16px;
    font-weight: normal;
    max-height: 36px;
    overflow: hidden;
    margin: 0;
}

.box-featured .box .featured-box ul li .info h3 a {
    color: #777777;
}

.box-featured .box .featured-box ul li .info h3 a:hover {
    color: #e67425;
}

.box-featured .box .featured-box ul li .info .price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.box-featured .box .featured-box ul li .info .old-price {
    color: #646464;
    text-decoration: line-through;
}

.box-featured .box .featured-box ul li .info .off-price {
    font-weight: bold;
    color: #6B8E3A;
}

.box-featured .box .featured-box ul li .info .best-sell {
    font-size: 14px;
    font-weight: bold;
    color: #E67425;
    text-transform: uppercase;
    margin-top: 7px;
}

.ld-product-box {
    margin-bottom: 40px;
}

.ld-product-box .top {
    margin-bottom: 15px;
}

.ld-product-box .top:after {
    content: '';
    display: block;
    clear: both;
}

.ld-product-box .top .title {
    width: 30%;
    float: left;
}

.ld-product-box .top .title span {
    display: inline-block;
    position: relative;
    font-size: 24px;
    color: #434343;
}

.ld-product-box .top .title span:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/images/home-new/amz-line.png");
    background-size: cover;
}

.ld-product-box .top .cate {
    width: 70%;
    float: left;
    text-align: right;
    padding-top: 10px;
}

.ld-product-box .top .cate ul {
    padding-left: 0;
    margin-bottom: 0;
}

.ld-product-box .top .cate ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #777777;
}

.ld-product-box .top .cate ul li:before {
    content: '\005c';
    display: inline-block;
    float: left;
    margin: 0 10px;
}

.ld-product-box .top .cate ul li:first-child:before {
    display: none;
}

.ld-product-box .top .cate ul li a {
    color: #777777;
    display: inline-block;
}

.ld-product-box .top .cate ul li.active a,
.ld-product-box .top .cate ul li a:hover {
    color: #E67425;
}

.ld-product-box .content {
    background: #fff;
    border: 1px solid #dedede;
}

.ld-product-box .content:after {
    content: '';
    display: block;
    clear: both;
}

.ld-product-box .content .left {
    width: 33.33%;
    float: left;
    border-right: 1px solid #dedede;
}

.ld-product-box .content .mid {
    width: 33.33%;
    float: left;
    border-right: 1px solid #dedede;
    height: 400px;
}

.ld-product-box .content .right {
    width: 33.33%;
    float: left;
}

.ld-product-box .content .item {
    border-bottom: 1px solid #dedede;
    height: 200px;
    padding: 10px 0;
}

.ld-product-box .content .left .item:last-child {
    border-bottom: none;
}

.ld-product-box .content .item .thumb {
    width: 180px;
    height: 180px;
    float: left;
    position: relative;
}

.ld-product-box .content .item .thumb a {
    display: table-cell;
    padding: 10px;
    width: 180px;
    height: 180px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.ld-product-box .content .item .thumb img {
    max-width: 160px;
    max-height: 160px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.ld-product-box .content .item:hover img {
    margin-left: -15px;
}

.ld-product-box .content .item .thumb .time-tag {
    display: block;
    width: 50px;
    height: 50px;
    background: url("/images/home-new/time-tag.svg") no-repeat;
    position: absolute;
    top: -10px;
    left: 0;
}

.ld-product-box .content .item .info {
    padding-top: 20px;
    margin-left: 180px;
}

.ld-product-box .content .item .info h3 {
    font-size: 16px;
    font-weight: normal;
    max-height: 36px;
    overflow: hidden;
    margin: 0;
}

.ld-product-box .content .item .info h3 a {
    color: #777777;
}

.ld-product-box .content .item .info h3 a:hover {
    color: #e67425;
}

.ld-product-box .content .item .info .price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.ld-product-box .content .item .info .old-price {
    color: #646464;
    text-decoration: line-through;
}

.ld-product-box .content .item .info .off-price {
    font-weight: bold;
    color: #6B8E3A;
}

.ld-product-box .content .item .info .best-sell {
    font-size: 14px;
    font-weight: bold;
    color: #E67425;
    text-transform: uppercase;
    margin-top: 7px;
}

.ld-product-box .content .item-2 {
}

.ld-product-box .content .item-2 .thumb {
    height: 270px;
    position: relative;
    text-align: center;
    padding-left: calc((100% - 270px) / 2);
}

.ld-product-box .content .item-2 .thumb a {
    padding: 10px;
    display: table-cell;
    text-align: center;
    height: 270px;
    width: 270px;
    vertical-align: middle;
}

.ld-product-box .content .item-2 .thumb img {
    max-width: 250px;
    max-height: 250px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.ld-product-box .content .item-2 .thumb .time-tag {
    display: block;
    width: 50px;
    height: 50px;
    background: url("/images/home-new/time-tag.svg") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.ld-product-box .content .item-2:hover img {
    margin-left: -15px;
}

.ld-product-box .content .item-2 .info {
    padding: 15px;
}

.ld-product-box .content .item-2 .info h3 {
    font-size: 16px;
    font-weight: normal;
    max-height: 36px;
    overflow: hidden;
    margin: 0;
}

.ld-product-box .content .item-2 .info h3 a {
    color: #777777;
}

.ld-product-box .content .item-2 .info h3 a:hover {
    color: #e67425;
}

.ld-product-box .content .item-2 .info .price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.ld-product-box .content .item-2 .info .old-price {
    color: #646464;
    text-decoration: line-through;
}

.ld-product-box .content .item-2 .info .off-price {
    font-weight: bold;
    color: #6B8E3A;
}

.ld-product-box .content .item-3 {
}

.ld-product-box .content .item-3 a {
    color: #333333;
    display: block;
    text-align: center;
    height: 200px;
    padding-top: 70px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.ld-product-box .content .item-3:hover a {
    margin-left: -15px;
}

.ld-product-box .content .item-3 .text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.ld-product-box .content .item-3 .text strong {
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.ld-product-box .content .item-3 .text span {
    font-size: 21px;
    display: block;
    margin-top: 5px;
}

.ld-product-box .content .item-3 .arrow-right {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 46px;
    background: url("/images/home-new/landing-arrow.svg") no-repeat;
}

.ldpd-top-box {
    margin-bottom: 50px;
}

.ldpd-top-box .item {
}

.ldpd-top-box .item a {
    display: block;
    border: 1px solid #777777;
}

.ldpd-top-box .item img {
    width: 100%;
}

.ldpd-content-box {
    margin-bottom: 50px;
}

.ldpd-content-box:after {
    content: '';
    display: block;
    clear: both;
}

.ldpd-content-box .left {
    width: 308px;
    height: 502px;
    overflow: hidden;
    float: left;
}

.ldpd-content-box .left a {
}

.ldpd-content-box .left img {
    width: 100%;
}

.ldpd-content-box .right {
    width: calc(100% - 308px);
    float: left;
}

.ldpd-content-box .right .title {
    font-size: 31px;
    color: #1B232F;
    font-weight: bold;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ldpd-content-box .right .ldpd-nav {
    background: #626262;
}

.ldpd-content-box .right .ldpd-nav ul {
    padding-left: 0;
    margin-bottom: 0;
}

.ldpd-content-box .right .ldpd-nav ul:after {
    content: '';
    display: block;
    clear: both;
}

.ldpd-content-box .right .ldpd-nav ul li {
    display: block;
    float: left;
    list-style: none;
}

.ldpd-content-box .right .ldpd-nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 22px 20px;
}

.ldpd-content-box .right .ldpd-nav ul li a:hover {
    color: #ddd;
}

.ldpd-content-box .right .ldpd-slider1 {
}

.ldpd-content-box .right .ldpd-slider1 .item {
    border: 0.5px solid #ededed;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background: #fff;
}

.ldpd-content-box .right .ldpd-slider1 .item .thumb {
    position: relative;
    overflow: hidden;
}

.ldpd-content-box .right .ldpd-slider1 .item .thumb a {
    display: table-cell;
    width: 207px;
    height: 207px;
    text-align: center;
    vertical-align: middle;
}

.ldpd-content-box .right .ldpd-slider1 .item .thumb img {
    max-width: 207px;
    max-height: 207px;
    width: auto;
    display: inline-block;
}

.ldpd-content-box .right .ldpd-slider1 .item .thumb .tag {
    display: block;
    width: 45px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ldpd-content-box .right .ldpd-slider1 .item .thumb .tag.amazon {
    background: url("/images/home-new/amz-sub-logo.svg") no-repeat;
    width: 55px;
}

.ldpd-content-box .right .ldpd-slider1 .item .thumb .tag.ebay {
    background: url("/images/home-new/ebay-sub-logo.svg") no-repeat;
}

.ldpd-content-box .right .ldpd-slider1 .item .info {
    padding: 15px 10px;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .name {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .name a {
    color: #000000;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .name a:hover {
    color: #e67425;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .price-box {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .price-box:after {
    content: '';
    display: block;
    clear: both;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .price-box .price {
    font-weight: bold;
    width: 60%;
    float: left;
    font-size: 13px;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .price-box .old-price {
    font-weight: bold;
    font-size: 10px;
    color: #777777;
    text-decoration: line-through;
    text-align: right;
    width: 40%;
    float: left;
    padding-top: 2px;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box {
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .btn {
    height: 40px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .btn.buynow {
    background: #626262;
    border-color: #626262;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 11px 15px;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .btn.buynow:hover {
    background: transparent;
    color: #626262;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .btn.addcart-btn {
    padding: 10px;
    width: 40px;
    background: #ededed;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .btn.favorite {
    padding: 10px;
    width: 40px;
    background: #ededed;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .cart-ico {
    display: block;
    width: 16px;
    height: 16px;
    background: url("/images/home-new/ldpd-cart.svg") no-repeat center;
}

.ldpd-content-box .right .ldpd-slider1 .item .info .btn-box .favorite-ico {
    display: block;
    width: 16px;
    height: 16px;
    background: url("/images/home-new/ldpd-favorite.svg") no-repeat center;
}

.ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls .owl-nav .owl-prev,
.ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls .owl-nav .owl-next {
    display: inline-block !important;
    width: 36px;
    height: 36px;
    background: url("/images/home-new/ldpd2-arrow-slider.svg") no-repeat;
    position: absolute;
    top: -52px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls .owl-nav .owl-prev {
    right: 60px;
}

.ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 20px;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls .owl-nav .owl-next:hover {
    opacity: 0.7;
}

.ldpd-content-box.box2 .right .ldpd-nav {
    background: #d8926e;
}

.ldpd-content-box.box2 .right .ldpd-slider1 .item .info .btn-box .btn {
    border-color: #d8926e;
}

.ldpd-content-box.box2 .right .ldpd-slider1 .item .info .btn-box .btn.buynow {
    background: #d8926e;
    border-color: #d8926e;
}

.ldpd-content-box.box2 .right .ldpd-slider1 .item .info .btn-box .btn.buynow:hover {
    color: #d8926e;
    background: transparent;
}

.ldpd-content-box.box3 .right .ldpd-nav {
    background: #95b749;
}

.ldpd-content-box.box3 .right .ldpd-slider1 .item .info .btn-box .btn {
    border-color: #95b749;
}

.ldpd-content-box.box3 .right .ldpd-slider1 .item .info .btn-box .btn.buynow {
    background: #95b749;
    border-color: #95b749;
}

.ldpd-content-box.box3 .right .ldpd-slider1 .item .info .btn-box .btn.buynow:hover {
    color: #95b749;
    background: transparent;
}

.sale-top {
    margin-bottom: 50px;
}

.sale-top .title {
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sale-top ul {
    padding-left: 0;
    margin-bottom: 0;
}

.sale-top ul:after {
    content: '';
    display: block;
    clear: both;
}

.sale-top ul li {
    list-style: none;
    float: left;
    width: 16.66%;
    border: 0.5px solid #ededed;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background: #fff;
}

.sale-top ul li:first-child {
    border-left-width: 1px;
}

.sale-top ul li:last-child {
    border-right-width: 1px;
}

.sale-top ul li .thumb {
    position: relative;
}

.sale-top ul li .thumb a {
    display: table-cell;
    width: 188px;
    height: 188px;
    text-align: center;
    vertical-align: middle;
}

.sale-top ul li .thumb img {
    max-width: 188px;
    max-height: 188px;
}

.sale-top ul li .thumb .sale-tag {
    display: block;
    width: 43px;
    height: 17px;
    background: url("/images/home-new/ldpd2-saletag.svg") no-repeat;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    padding: 0 10px 0 12px;
}

.sale-top ul li .name {
    padding: 15px 10px;
    border-bottom: 1px solid #EDEDED;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sale-top ul li .name a {
    color: #000000;
}

.sale-top ul li .name a:hover {
    color: #e67425;
}

.sale-top ul li .price-box {
    padding: 15px 10px;
    font-weight: bold;
}

.sale-top ul li .price-box:after {
    content: '';
    display: block;
    clear: both;
}

.sale-top ul li .price-box .price {
    font-size: 12px;
}

.sale-top ul li .price-box .old-price {
    font-size: 10px;
    color: #777777;
    text-decoration: line-through;
}

.ldpd-bottom-banner {
}

.ldpd-bottom-banner ul {
    padding-left: 0;
    margin: 0 -5px;
}

.ldpd-bottom-banner ul:after {
    content: '';
    display: block;
    clear: both;
}

.ldpd-bottom-banner ul li {
    width: 33.33%;
    padding: 0 5px;
    float: left;
    list-style: none;
}

.ldpd-bottom-banner ul li a {
    display: block;
    border: 1px solid #000000;
}

.ldpd-bottom-banner ul li img {
    width: 100%;
}

.us-add-bg {
    background: url("/images/us-address-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 100px 0;
}

.us-add-bg .content {
}

.us-add-bg .content:after {
    content: '';
    display: block;
    clear: both;
}

.us-add-bg .content .left {
    width: calc(100% - 300px);
    float: left;
    padding-right: 20px;
    background: url("/images/us-line.png") no-repeat;
    background-size: 99%;
    background-position: left bottom 110px;
    height: 500px;
    color: #fff;
    padding-top: 100px;
}

.us-add-bg .content .left .text1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
}

.us-add-bg .content .left .text2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 96px;
    line-height: 1;
}

.us-add-bg .content .left .text3 {
    margin-top: 25px;
}

.us-add-bg .content .left .text4 {
    color: #E2A74D;
    font-weight: bold;
    font-size: 15px;
    margin: 63px 0px 0px 3px;
    width: 227px;
    text-align: center;
}

.us-add-bg .content .right {
    width: 300px;
    float: left;
}

.us-add-bg .content .right .register-form {
    background: rgba(254, 254, 254, 0.3);
    padding: 30px 20px;
}

.us-add-bg .content .right .register-form .form-group {
    margin-bottom: 30px;
}

.us-add-bg .content .right .register-form .form-group label {
    color: #fff;
    text-transform: uppercase;
}

.us-add-bg .content .right .register-form .form-group .form-control {
    height: 40px;
    border-radius: 0;
    box-shadow: 2px 2px 3px #666;
}

.us-add-bg .content .right .register-form .btn {
    width: 100%;
    color: #fff;
    background: #2b96b6;
    border-color: #2b96b6;
    border-radius: 0;
    box-shadow: 2px 2px 3px #666;
}

.us-add-bg .content .right .register-form .btn span {
    display: block;
}

.us-add-bg .content .right .register-form .btn .top {
    text-transform: uppercase;
}

.us-add-bg .content .right .register-form .btn .small {
    font-size: 12px;
}

.us-addr-step {
    padding: 120px 0;
    background: #fff url("/images/us-addr3.png") no-repeat center;
}

.us-addr-step .content {
    position: relative;
}

.us-addr-step .title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}

.us-addr-step .title:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #e67425;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

.us-addr-step .step {
    text-align: center;
}

.us-addr-step .step .img {
}

.us-addr-step .step .img .buyship-ico {
    display: inline-block;
    width: 68px;
    height: 68px;
    position: relative;
    z-index: 2;
}

.us-addr-step .step .img .buyship-ico.ico1 {
    background: url("/img/base/base-new.png") no-repeat -321px -703px;
}

.us-addr-step .step .img .buyship-ico.ico2 {
    background: url("/img/base/base-new.png") no-repeat -1px -703px;
}

.us-addr-step .step .img .buyship-ico.ico3 {
    background: url("/img/base/base-new.png") no-repeat -162px -703px;
}

.us-addr-step .step .img .buyship-ico.ico4 {
    background: url("/img/base/base-new.png") no-repeat -243px -703px;
}

.us-addr-step .step .text {
}

.us-addr-step .step .text strong {
    display: block;
}

.us-addr-step .step .text span {
    display: block;
}

.us-addr-step .line {
    display: block;
    border-bottom: 1px solid #000;
    width: 77%;
    margin: auto;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
}

.us-add-bg .content .right .user-in {
    background: rgba(254, 254, 254, 0.3);
    overflow: hidden;
}

.us-add-bg .content .right .top-user {
    background: #fff;
    padding: 25px 15px;
    position: relative;
    margin-bottom: 30px;
}

.us-add-bg .content .right .top-user:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 150px 0 150px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.us-add-bg .content .right .top-user strong {
    display: block;
    margin-bottom: 10px;
}

.us-add-bg .content .right .bottom {
    color: #fff;
    padding: 30px 15px;
}

.us-add-bg .content .right .bottom .row-cl {
}

.us-add-bg .content .right .bottom .row-cl:after {
    content: '';
    display: block;
    clear: both;
}

.us-add-bg .content .right .bottom .row-cl .row-left {
    width: 45%;
    padding-right: 20px;
    float: left;
    text-align: right;
}

.us-add-bg .content .right .bottom .row-cl .row-right {
    width: 55%;
    float: left;
}

.navbar-ws.landing {
    display: none;
}

.keep-navbar.us-address .search-box .search-tag {
    /*border: 1px solid #fff;*/
    /*border-top: none;*/
}

.keep-navbar.us-address .search-box .search-icon {
    background: url("/images/home-new/search-amz-drop.svg") no-repeat;
}

.paste-link-head {
    background: url("/images/home-new/paste-link-bg.jpg") no-repeat;
    background-size: cover;
    height: 330px;
}

.paste-link-head .navbar-ws {
    background: transparent;
}

.paste-link-head .button-benefit {
    text-align: center;
}

.paste-link-head .button-benefit .btn {
    background: #2b96b6;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    height: 60px;
    padding: 19px 25px;
    margin-top: 100px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.paste-link-head .button-benefit .btn:hover {
    border-color: #2b96b6;
    color: #2b96b6;
    background: #fff;
}

.paste-link-head .button-benefit span {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.paste-link-head .button-benefit .arrow-ico {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 20px;
    background: url("/images/home-new/pastelink-arrow.svg") no-repeat;
}

.price-request-box {
    text-align: center;
    background: #fff;
    padding: 30px 0;
}

.price-request-box .price-request {
    padding: 50px 15px;
    background: url('/img/common/bg-step.png') no-repeat;
    background-position: center;
}

.price-request-box .price-request .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 50px;
    position: relative;
}

.price-request-box .price-request .title:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #E67425;
    position: relative;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
}

.price-request-box .price-request .content {
}

.price-request-box .price-request .content p {
    font-size: 17px;
    font-weight: bold;
}

.price-request-box .price-request .content .form-inline {
    margin-bottom: 60px;
    position: relative;
}

.price-request-box .price-request .content .form-inline .cloud-man {
    position: absolute;
    left: 0;
    top: -40px;
    width: 150px;
    height: 150px;
    background: url(/img/common/mascot-pastlink.png) no-repeat;
}

.price-request-box .price-request .content .form-inline .form-group .form-control {
    height: 60px;
    border-color: #2B96B6;
    width: 600px;
    margin-right: 5px;
}

.price-request-box .price-request .content .form-inline .btn {
    height: 60px;
    background: #E67425;
    border-color: #E67425;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 20px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.price-request-box .price-request .content .form-inline .btn:hover {
    color: #E67425;
    background: transparent;
}

.price-request-box .price-request .content .step-box {
}

.price-request-box .price-request .content .step-box .step {
    position: relative;
}

.price-request-box .price-request .content .step-box .step .img {
    margin-bottom: 15px;
}

.price-request-box .price-request .content .step-box .step .img img {
    width: 100px;
}

.price-request-box .price-request .content .step-box .step .text {
}

.price-request-box .price-request .content .step-box .step .text strong {
    display: block;
}

.price-request-box .price-request .content .step-box .step .text span {
    display: block;
    font-size: 12px;
    color: #777777;
}

.price-request-box .price-request .content .step-box .step .pl-link1 {
    width: 102px;
    height: 31px;
    position: absolute;
    background: url('/img/common/base1.png') no-repeat -135px 0px;
    top: -10px;
    right: -60px;
}

.price-request-box .price-request .content .step-box .step .pl-link2 {
    width: 102px;
    height: 31px;
    position: absolute;
    background: url('/img/common/base1.png') no-repeat -135px 0px;
    top: 80px;
    right: -60px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.brand-suggest {
    text-align: center;
    padding: 100px 0;
}

.brand-suggest .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 50px;
    position: relative;
}

.brand-suggest .title:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #E67425;
    position: relative;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
}

.brand-suggest .content {
    padding: 0 80px;
}

.brand-suggest .content .brand-slider {
}

.brand-suggest .content .brand-slider .item {
    padding-left: calc((100% - 100px) / 2);
}

.brand-suggest .content .brand-slider .item a {
    display: table-cell;
    width: 100px;
    height: 100px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}

.brand-suggest .content .brand-slider .item img {
    max-width: 98px;
    max-height: 98px;
}

.brand-suggest .content .brand-slider.owl-carousel .owl-controls .owl-nav .owl-prev,
.brand-suggest .content .brand-slider.owl-carousel .owl-controls .owl-nav .owl-next {
    display: block !important;
    width: 16px;
    height: 24px;
    background: url("/images/pastelink-slider-arrow.svg") no-repeat;
    position: absolute;
    top: 42px;
}

.brand-suggest .content .brand-slider.owl-carousel .owl-controls .owl-nav .owl-prev {
    left: -80px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.brand-suggest .content .brand-slider.owl-carousel .owl-controls .owl-nav .owl-next {
    right: -80px;
}

.brand-suggest .content .brand-slider.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.brand-suggest .content .brand-slider.owl-carousel .owl-controls .owl-nav .owl-next:hover {
    opacity: 0.7;
}

.ldtp {
    background: #fff;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    padding: 20px;
}

.ldtp .campaign-img {
    margin-bottom: 40px;
}

.ldtp .campaign-img img {
    width: 100%;
}

.ldtp .title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ldtp .content {
}

.ldtp .content:after {
    content: '';
    display: block;
    clear: both;
}

.ldtp .content .left {
    width: calc(100% - 150px);
    float: left;
    padding-right: 20px;
}

.ldtp .content .right {
    width: 150px;
    float: left;
}

.ldtp .content .right ul {
    padding-left: 0;
    margin-bottom: 0;
}

.ldtp .content .right ul li {
    list-style: none;
    margin-bottom: 15px;
}

.ldtp .content .right ul li:last-child {
    margin-bottom: 0;
}

.ldtp .content .right ul li a {
    display: block;
    border: 1px solid #EDEDED;
    background: #fff;
}

.ldtp .content .right ul li img {
    width: 100%;
}

/*responsive*/
@media (max-width: 1199px) {
    .price-request-box .price-request .content .form-inline .form-group .form-control {
        width: 400px;
    }
}

@media (max-width: 991px) {
    .info-box-featured {
        height: inherit;
    }

    /*.hr-left{*/
    /**/
    /*}*/
    .hr-item {
        position: inherit;
        top: inherit;
        left: inherit;
        right: inherit;
        width: 100%;
        height: auto;
    }

    .hr-top-right,
    .hr-item.hr-item-right {
        border-top: none;
    }

    .box-featured .box .featured-box {
        position: relative;
        left: inherit;
        bottom: inherit;
    }

    .box-featured .box .featured-box ul li {
        width: 100%;
        float: none;
        border-right: none;
        border-bottom: 1px solid #dedede;
    }

    .box-featured .box .featured-box ul li:last-child {
        border-bottom: none;
    }

    .hr-item.hr-left .thumb {
        width: 180px;
        height: 200px;
        padding: 10px 0;
    }

    .hr-item.hr-left .thumb a {
        width: 180px;
        height: 180px;
        padding: 10px;
    }

    .hr-item.hr-left .thumb img {
        max-width: 160px;
        max-height: 160px;
    }

    .hr-item.hr-left .info {
        margin-left: 180px;
        /*padding-top: 10px;*/
        padding: 20px 0 10px;
    }

    .hr-item.hr-left .info h3 {
        font-size: 16px;
        max-height: 36px;
    }

    .hr-item.hr-left .info .price {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
    }

    .hr-item.hr-left .info .price-box {
        font-size: 14px;
    }

    .hr-item.hr-left .info .best-sell {
        font-size: 14px;
    }

    .ld-product-box .top .title {
        width: 100%;
        float: none;
    }

    .ld-product-box .top .cate {
        width: 100%;
        float: none;
        text-align: left;
    }

    .ld-product-box .content .left {
        width: 100%;
        float: none;
        border-right: none;
    }

    .ld-product-box .content .mid {
        width: 100%;
        float: none;
        border-right: none;
        border-bottom: 1px solid #dedede;
        height: inherit;
    }

    .ld-product-box .content .right {
        width: 100%;
        float: none;
    }

    .ld-product-box .content .left .item:last-child {
        border-bottom: 1px solid #dedede;
    }

    .ldpd-top-box .item {
        margin-bottom: 20px;
    }

    .ldpd-content-box .left {
        display: none;
    }

    .ldpd-content-box .right {
        width: 100%;
        float: none;
    }

    .ldpd-content-box .right .title {
        padding-left: 0;
    }

    .sale-top ul li {
        width: 33.33%;
    }

    .ldpd-bottom-banner ul li {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 239px;
        height: 239px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 239px;
        max-height: 239px;
    }

    .sale-top ul li .thumb a {
        width: 238px;
        height: 238px;
    }

    .sale-top ul li .thumb img {
        max-width: 238px;
        max-height: 238px;
    }

    .us-add-bg .content .left,
    .us-add-bg .content .right {
        width: 100%;
        float: none;
    }

    .us-add-bg .content .left {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .us-addr-step .line {
        display: none;
    }

    .us-addr-step .step {
        margin-bottom: 30px;
    }

    .us-add-bg .content .left .img {
        display: none;
    }

    .us-add-bg .content .left .img-respon {
        display: block;
    }

    .navbar-ws.landing {
        display: block;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 360px 0 360px;
    }

    .us-add-bg .content .left {
        height: auto;
        background: transparent;
        text-align: center;
        padding-top: 0;
    }

    .us-add-bg .content .left .text4 {
        display: none;
    }

    .price-request-box .price-request .content .form-inline .form-group {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .price-request-box .price-request .content .form-inline .form-group .form-control {
        width: 100%;
    }

    .price-request-box .price-request .content .step-box .step .pl-link1,
    .price-request-box .price-request .content .step-box .step .pl-link2 {
        display: none;
    }

    .price-request-box .price-request .content .step-box .step {
        margin: 20px 0;
    }
}

@media (max-width: 767px) {
    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 244px;
        height: 244px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 244px;
        max-height: 244px;
    }

    .sale-top ul li .thumb a {
        width: 244px;
        height: 244px;
    }

    .sale-top ul li .thumb img {
        max-width: 244px;
        max-height: 244px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 368.5px 0 368.5px;
    }

    .brand-suggest .content {
        padding: 0;
    }
}

@media (max-width: 736px) {
    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 352px;
        height: 352px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 352px;
        max-height: 352px;
    }

    .sale-top ul li .thumb a {
        width: 233px;
        height: 233px;
    }

    .sale-top ul li .thumb img {
        max-width: 233px;
        max-height: 233px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 353px 0 353px;
    }
}

@media (max-width: 676px) {
    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 322px;
        height: 322px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 322px;
        max-height: 322px;
    }

    .sale-top ul li .thumb a {
        width: 213px;
        height: 213px;
    }

    .sale-top ul li .thumb img {
        max-width: 213px;
        max-height: 213px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 323px 0 323px;
    }
}

@media (max-width: 640px) {
    .ldpd-content-box .right .ldpd-slider1.owl-carousel .owl-controls {
        display: none;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 304px;
        height: 304px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 304px;
        max-height: 304px;
    }

    .sale-top ul li .thumb a {
        width: 201px;
        height: 201px;
    }

    .sale-top ul li .thumb img {
        max-width: 201px;
        max-height: 201px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 305px 0 305px;
    }
}

@media (max-width: 533px) {
    .sale-top ul li {
        width: 50%;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 250px;
        height: 250px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 250px;
        max-height: 250px;
    }

    .sale-top ul li .thumb a {
        width: 250px;
        height: 250px;
    }

    .sale-top ul li .thumb img {
        max-width: 250px;
        max-height: 250px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 251.5px 0 251.5px;
    }
}

@media (max-width: 480px) {
    .hr-item.hr-left .thumb {
        width: 100%;
        height: inherit;
        float: none;
        padding: 0;
    }

    .hr-item.hr-item-right .thumb {
        width: 100%;
        height: inherit;
        float: none;
    }

    .ld-product-box .content .item-2 .thumb a,
    .ld-product-box .content .item .thumb a,
    .hr-item.hr-left .thumb a,
    .box-featured .box .featured-box ul li .thumb a,
    .hr-item.hr-item-right .thumb a {
        width: 448px;
        height: 448px;
    }

    .ld-product-box .content .item-2 .thumb img,
    .ld-product-box .content .item .thumb img,
    .hr-item.hr-left .thumb img,
    .box-featured .box .featured-box ul li .thumb img,
    .hr-item.hr-item-right .thumb img {
        max-width: 428px;
        max-height: 428px;
    }

    .hr-item.hr-item-right .info {
        margin-left: 0;
        padding: 15px;
    }

    .box-featured .box .featured-box ul li .thumb {
        width: 100%;
        height: inherit;
        float: none;
    }

    .box-featured .box .featured-box ul li .info {
        margin-left: 0;
        padding: 15px;
    }

    .box-featured .box .featured-box ul li {
        height: inherit;
    }

    .ld-product-box .content .item .thumb {
        width: 100%;
        height: inherit;
        float: none;
    }

    .ld-product-box .content .item .info {
        margin-left: 0;
        padding: 15px;
    }

    .ld-product-box .content .item {
        height: inherit;
    }

    .ld-product-box .content .item-2 .thumb {
        padding-left: 0;
        height: auto;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 224px;
        height: 224px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 224px;
        max-height: 224px;
    }

    .sale-top ul li .thumb a {
        width: 223px;
        height: 223px;
    }

    .sale-top ul li .thumb img {
        max-width: 223px;
        max-height: 223px;
    }

    .ldpd-content-box .right .title {
        font-size: 26px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 225px 0 225px;
    }
}

@media (max-width: 414px) {
    .ld-product-box .content .item-2 .thumb a,
    .ld-product-box .content .item .thumb a,
    .hr-item.hr-left .thumb a,
    .box-featured .box .featured-box ul li .thumb a,
    .hr-item.hr-item-right .thumb a {
        width: 382px;
        height: 382px;
    }

    .ld-product-box .content .item-2 .thumb img,
    .ld-product-box .content .item .thumb img,
    .hr-item.hr-left .thumb img,
    .box-featured .box .featured-box ul li .thumb img,
    .hr-item.hr-item-right .thumb img {
        max-width: 368px;
        max-height: 368px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 383px;
        height: 383px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 383px;
        max-height: 383px;
    }

    .sale-top ul li .thumb a {
        width: 190px;
        height: 190px;
    }

    .sale-top ul li .thumb img {
        max-width: 190px;
        max-height: 190px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 192px 0 192px;
    }

    .paste-link-head .button-benefit .arrow-ico {
        display: none;
    }

    .paste-link-head .button-benefit .btn {
        padding: 10px 15px;
        height: auto;
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .ld-product-box .content .item-2 .thumb a,
    .ld-product-box .content .item .thumb a,
    .hr-item.hr-left .thumb a,
    .box-featured .box .featured-box ul li .thumb a,
    .hr-item.hr-item-right .thumb a {
        width: 343px;
        height: 343px;
    }

    .ld-product-box .content .item-2 .thumb img,
    .ld-product-box .content .item .thumb img,
    .hr-item.hr-left .thumb img,
    .box-featured .box .featured-box ul li .thumb img,
    .hr-item.hr-item-right .thumb img {
        max-width: 323px;
        max-height: 323px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 344px;
        height: 344px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 344px;
        max-height: 344px;
    }

    .sale-top ul li .thumb a {
        width: 171px;
        height: 171px;
    }

    .sale-top ul li .thumb img {
        max-width: 171px;
        max-height: 171px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 172.5px 0 172.5px;
    }
}

@media (max-width: 360px) {
    .ld-product-box .content .item-2 .thumb a,
    .ld-product-box .content .item .thumb a,
    .hr-item.hr-left .thumb a,
    .box-featured .box .featured-box ul li .thumb a,
    .hr-item.hr-item-right .thumb a {
        width: 288px;
        height: 288px;
    }

    .ld-product-box .content .item-2 .thumb img,
    .ld-product-box .content .item .thumb img,
    .hr-item.hr-left .thumb img,
    .box-featured .box .featured-box ul li .thumb img,
    .hr-item.hr-item-right .thumb img {
        max-width: 288px;
        max-height: 288px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 329px;
        height: 329px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 329px;
        max-height: 329px;
    }

    .sale-top ul li .thumb a {
        width: 163px;
        height: 163px;
    }

    .sale-top ul li .thumb img {
        max-width: 163px;
        max-height: 163px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 165px 0 165px;
    }
}

@media (max-width: 320px) {
    .ldpd-content-box .right .ldpd-slider1 .item .thumb a {
        width: 289px;
        height: 289px;
    }

    .ldpd-content-box .right .ldpd-slider1 .item .thumb img {
        max-width: 289px;
        max-height: 289px;
    }

    .sale-top ul li .thumb a {
        width: 143px;
        height: 143px;
    }

    .sale-top ul li .thumb img {
        max-width: 143px;
        max-height: 143px;
    }

    .us-add-bg .content .right .top-user::after {
        border-width: 30px 145px 0 145px;
    }

    .paste-link-head .button-benefit .btn {
        padding: 10px 15px;
        white-space: normal;
    }
}