.container {
    padding: 0
}

.la-news {
    background: #fff;
}

.la-menu {
}

.la-menu .la-menu-left {
    float: left;
}

.la-menu .la-menu-left a {
}

.la-menu .la-menu-left a img {
    margin-top: 6px;
    width: 150px;
    height: 50px;
}

.la-menu .la-menu-right {
    float: right;
}

.la-menu .la-menu-right ul {
    border-bottom: 0;
}

.la-menu .la-menu-right ul li {
    margin-bottom: 1px;
}

.la-menu .la-menu-right ul li.active {
}

.la-menu .la-menu-right ul li a {
    margin-right: 0;
    font-size: 16px;
    border-radius: 0;
    padding: 24px 15px;
    color: #000;
    border: 0;
}

.la-menu .la-menu-right ul li.active a, .la-menu .la-menu-right ul li:hover a, .la-menu .la-menu-right ul li:focus a {
    border: 0;
    color: #fff;
    background: #2b96b6;
}

.la-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    position: relative;
}

.la-title h3 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    position: relative;
}

.la-title h3:before {
    content: '';
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #ccc;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 94px;
}

.la-title h3:after {
    content: '\f111';
    font-family: 'fontawesome';
    position: absolute;
    color: #e67424;
    font-size: 10px;
    margin-right: 7px;
    left: -16px;
    top: 5px;
}

.la-title h3 i {
}

.la-title a {
    display: inline-block;
    float: right;
    position: absolute;
    padding: 20px 25px 20px 20px;
    color: #000;
    right: 0;
}

.la-title a:hover {
    color: #2c95b5;
}

.la-title a span.la-view-all {
    position: absolute;
    background: url('/img/common/icon-viewall.png') no-repeat;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 0px;
}

.la-content {
    display: inline-block;
    width: 100%;
}

.la-content ul {
    padding: 0;
    margin: 0;
}

.la-content ul li {
    list-style: none;
    float: left;
    width: 18%;
    margin-right: 29px;
    margin-bottom: 29px;
}

.la-content ul li:nth-child(5n) {
    margin-right: 0
}

.la-content ul li .la-detail {
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    position: relative;
    text-align: center;
    background: #fff
}

.la-content ul li .la-detail .la-detail-img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.la-content ul li .la-detail .la-detail-img > .bg-hover {
    background: rgba(237, 237, 237, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.la-content ul li .la-detail .la-detail-img:hover > .bg-hover {
    display: block;
    padding-top: calc(50% - 14px);
}

.la-content ul li .la-detail .la-detail-img:hover > .bg-hover a.la-btnlink {
    background: #2c95b5;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    border: 0;
    padding: 7px 20px;
    display: inline-block;
    width: auto;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
}

.la-content ul li .la-detail .la-detail-img > .bg-la-img a {
}

.la-content ul li .la-detail .la-detail-img a {
    display: table-cell;
    vertical-align: middle;
    width: 208px;
    height: 208px;
}

.la-content ul li .la-detail .la-detail-img a img {
    max-height: 208px;
    max-width: 208px;
    margin: 0 auto;
}

.la-content ul li .la-detail .la-detail-title {
    padding: 0px 15px;
    margin-bottom: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 17px;
}

.la-content ul li .la-detail .la-detail-title a {
    font-size: 12px;
    color: #333;
}

.la-content ul li .la-detail .la-detail-price {
}

.la-content ul li .la-detail .la-detail-price label {
    font-size: 14px;
    color: #e57200;
    margin-bottom: 0px;
}

.la-content ul li .la-detail .la-detail-date {
}

.la-content ul li .la-detail .la-detail-date p {
    font-size: 14px;
}

.la-content ul li .la-detail .la-detail-sale {
    position: absolute;
    background: #2c95b5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 9px;
    top: -13px;
    left: -13px;
}

.la-content ul li .la-detail .la-detail-sale span {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.la-banner img {
    width: 100%
}

.la-settings-content {
    padding: 0px 15px;
}

.la-settings-content p {
    font-size: 14px;
    text-align: justify;
}

.la-settings-content p b {
}

.la-settings-content ul {
    padding: 0;
    margin: 0;
}

.la-settings-content ul li {
    font-size: 14px;
    text-align: justify;
    position: relative;
    list-style: none;
    padding-left: 35px;
    margin-bottom: 20px;
}

.la-settings-content ul li span {
    position: absolute;
    left: 0;
    top: 4px;
    background: #2b96b6;
    border-radius: 50%;
    color: #fff;
}

.la-settings-content ul li span.list-num {
    padding: 0px 6px;
}

/*responsive*/
@media (max-width: 1199px) {
    .la-content ul li {
        margin-right: 24px;
        margin-bottom: 24px;
    }

    .la-content ul li .la-detail .la-detail-img a img {
        max-height: 173px;
        max-width: 173px;
    }
}

@media (max-width: 991px) {
    .la-content ul li:nth-child(4n) {
        margin-right: 0
    }

    .la-content ul li {
        width: 22%;
    }

    .la-content ul li, .la-content ul li:nth-child(5n) {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    body {
        padding: 0
    }
}

@media (max-width: 767px) {
    .la-content {
        padding: 0 15px;
    }

    .la-content ul li {
        width: 30%;
    }

    .la-content ul li, .la-content ul li:nth-child(5n), .la-content ul li:nth-child(4n) {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .la-content ul li:nth-child(3n) {
        margin-right: 0
    }
}

@media (max-width: 640px) {
    .la-content ul li {
        width: 31%;
    }

    .la-content ul li, .la-content ul li:nth-child(5n), .la-content ul li:nth-child(4n) {
        margin-right: 19px;
        margin-bottom: 19px;
    }
}

@media (max-width: 533px) {
    .la-menu .la-menu-left {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .la-menu .la-menu-right ul li a {
        padding: 24px 20px;
    }

    .la-content ul li {
        width: 45%;
    }

    .la-content ul li, .la-content ul li:nth-child(5n), .la-content ul li:nth-child(4n), .la-content ul li:nth-child(3n) {
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .la-content ul li:nth-child(2n) {
        margin-right: 0
    }
}

@media (max-width: 480px) {
    .la-menu .la-menu-right ul li a {
        padding: 16px 13px;
    }

    .la-content ul li, .la-content ul li:nth-child(5n), .la-content ul li:nth-child(4n), .la-content ul li:nth-child(3n) {
        margin-right: 45px;
        margin-bottom: 45px;
    }

    .la-content ul li:nth-child(2n) {
        margin-right: 0
    }
}

@media (max-width: 414px) {
    .la-menu .la-menu-right ul li a {
        padding: 16px 14px;
        font-size: 13px;
    }

    .la-content ul li, .la-content ul li:nth-child(5n), .la-content ul li:nth-child(4n), .la-content ul li:nth-child(3n) {
        margin-right: 38px;
        margin-bottom: 38px;
    }

    .la-content ul li:nth-child(2n) {
        margin-right: 0
    }

    .la-content ul li .la-detail .la-detail-img a img {
        max-height: 171px;
        max-width: 171px;
    }
}

@media (max-width: 360px) {
    .la-content ul li {
        width: 100%;
    }

    .la-content ul li .la-detail .la-detail-img {
        display: inline-block;
        margin: 0 auto
    }

    .la-content ul li .la-detail .la-detail-img a {
        width: 330px;
        height: 330px;
    }

    .la-content ul li .la-detail .la-detail-img a img {
        max-height: 225px;
        max-width: 225px;
    }

    .la-menu .la-menu-right ul li a {
        padding: 13px 9px;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .la-menu .la-menu-right ul li a {
        padding: 15px 8px;
        font-size: 10px;
    }
}