//Created by nktquan@gmail.com

@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.TTF') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}

@mixin background_url($url) {
  background: url($url) no-repeat center;
  background-size: contain;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scale($num) {
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}

@mixin grayscale($a) {
  filter: grayscale($a);
  -o-filter: grayscale($a);
  -moz-filter: grayscale($a);
  -webkit-filter: grayscale($a);
}

@include font-face('Quicksand', '../fonts/Quicksand/QUICKSAND-REGULAR', 400);
@include font-face('Quicksand', '../fonts/Quicksand/QUICKSAND-LIGHT', 200);
@include font-face('Quicksand', '../fonts/Quicksand/QUICKSAND-MEDIUM', 500);
@include font-face('Quicksand', '../fonts/Quicksand/QUICKSAND-BOLD', 700);

%clear-both {
  content: '';
  display: block;
  clear: both;
}
%display-inline {
  display: inline-block;
  vertical-align: middle;
}

%transition-all-3 {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

%hover-scale {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

%thumbnail_fixed {
  position: absolute;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%currency {
  font-style: normal;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}

$color_main_blue: #2b96b6;
$color_main_orange: #e67425;
$color_main_text: #555555;
$color_product_text: #393939;
$color_main_amz: #232f3d;
$color_sub_amz: #fcbc70;
$color_ebay_blue: #0063d1;
$color_border_line: #ebebeb;

// responsive points
$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1025px;
$breakpoints-xxl: 1600px;

//@media (max-width: $breakpoints-md - 1) {
//  cursor: pointer;
//}

html, body{
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 400;
  color: $color_main_text;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  outline: none;
  @extend %transition-all-3;
  &:hover {
    text-decoration: none;
  }
}

.text-blue {
  color: #2e9ab8;
}

.text-orange {
  color: $color_main_orange;
}

.table {
  color: $color_main_text;
}
.btn {
  @extend %transition-all-3;
}

.form-check {
  cursor: pointer;
  .form-check-input, label {
    cursor: pointer;
  }
  label {
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border: 1px solid #999999;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: -17px;
    }
  }
  .form-check-input {
    display: none;
  }
  input[type="radio"] {
    &:checked {
      &+label {
        &:before {
          border: 1px solid $color_main_blue;
        }
        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: $color_main_blue;
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: -15px;
        }
      }
    }
  }
  input[type="checkbox"] {
    &+label {
      &:before {
        border-radius: 0;
      }
    }
    &:checked {
      &+label {
        &:before {
          border: 1px solid $color_main_blue;
        }
        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: $color_main_blue;
          position: absolute;
          top: 5px;
          left: -15px;
        }
      }
    }
  }
}

.container {
  max-width: 1170px;
  &:after {
    @extend %clear-both;
  }
}