.bars-nav li:active {
    background-color: white;
}
.style-ull {
    padding-left: 1em;
    background-color: #f6f6f6;
}
.style-ull li {
    line-height: 2.4;
    padding-right: 10px;
    position: relative;
}
.style-ull li a {
    color: rgba(0, 0, 0, 0.85);
}
.style-i {
    width: 24px;
    height: 24px;
    text-align: center;
    display: -webkit-inline-box;
    text-align: -webkit-center;
    margin-right: 5px;
}
.style-i img {
    text-align: center;
}
.sub-menu-2 {
    display: none;
    position: absolute;
    width: 892px;
    min-height: 530px;
    background-color: #ffffff;
}
.sub-menu-2-hover {
    display: block;
    margin-left: 325px;
    position: fixed;
    top: 0;
    color: rgba(0, 0, 0, 0.85);
}
.style-ull li a:hover {
    color: #2b96b6 !important;
}
.style-ull li:hover {
    color: #2b96b6 !important;
    cursor: pointer;
    font-size: 17px;
}
.title-box {
    line-height: 1.2;
    border-bottom: 1px solid #ededed;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #555555;
}
.banner-sub img {
    margin-top: 25px;
    width: 404px;
    height: 471px;
}
.banner-sub a {
    margin-left: 0;
}
ul.bars-nav > li ul li a{
    color: rgba(0, 0, 0, 0.85);
    padding-left: 10px;
    font-size: 14px;
    font-family: Helvetica;
}
.category_account {
   left: -230px !important;
    transform: translate3d(0, 0, 0) !important;
    top: 89% !important;

}
.show {
    background-color: white;
}
.color-account {
    color: #999999;
}
.style-font {
    color: white;
    font-weight: 400;
}
#target {
    display:none;
}

#targetEbay {
    display:none;
}

.Hide
{
    transform: scaleY(-1);
    display:none;

}
.style-u li {
    float: none;
    padding-bottom: 0;
    padding-top: 0;
}
.style-u li:first-child {
    padding-right: 10px;
}
.style-header {
    /* display: block !important; */
    position: fixed;
    z-index: 99;
    width: 100%;
    padding-left: 4.5%;
}
.style-ul-after {
    z-index: 98;
}
ul:after {
    z-index: 98 !important;
}
.buy-amazon {
    width: 100%;
}
.item {
    padding: 15px;
}