html, body {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 400;
    color: #555555;
}
.wrapper{
    background: #f7f7f7;
}
.container{
    max-width: 90%;
}
.navbar-ws,body div.wrapper div.navbar-ws div.container{
    /* Style for "Rectangle" */
    background-color: #141c2e;
    margin-top: 0px;
    padding-bottom: 0px;
}
.navbar-ws .logo{
    width: auto;
    padding-right: 15px;
}
.logo-pc{
     /* Style for "weshop-01" */
     width: 180px;
     height: 50px;
 }
body div.wrapper div.navbar-ws div.container{
    padding-top: 11px;
    margin: auto;
}
.a-hover{
    font-size: 17px;
    color: #2b96b6 !important;
}
.search-box{
    /*float: left;*/
    padding-right: 15px;
    height: 50px;
    text-align: right;
}
#searchBoxButton{
    border-radius: 0px 5px 5px 0px;
    height: inherit;
    background-color: #e67424;
}
#searchBoxInput{
    height: inherit;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffffff;
    /* Style for "Nhập tên s" */
    color: #6d7278;
    font-family: Helvetica;
    font-size: 16px;
}
body div.wrapper div.navbar-ws div div.search-box{
    border-radius: 5px;
}
.mobile-hide{
    /*display: block !important;*/
}
.mobile-show{
    display: none;
}
#ico-search{
    transform: scaleX(-1);
    color: #fff;
    font-size: 30px;
}
.cart-header-box{
    color: #e67424;
    height: 50px;
    line-height: 4em;
    padding-right: 15px;
}
.cart-header-box i{
    font-size: 30px;
}
.cart-header-box span.label-cart{
    color: #e67424;
    font-family: Helvetica;
    font-size: 16px;
}
.option-auth{
    color: #2b96b6;
    font-family: Helvetica;
    font-size: 9px;
    line-height: 20px;
    font-size: 10px;
}
.account-title{
    color: #2b96b6;
    font-size: 16px;
}
.account-header-box i.la.la-user{
    padding-top: 10px;
    width: 30px;
    height: 36px;
    color: #2b96b6;
    font-family: "LineAwesome";
    font-size: 30px;
    float: left;
}
.account-header-box{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.search-box{
    width: 57%;
}
.logo,.cart-header-box,.account-header-box{
    /*width: 20%;*/
    width: auto;
}
.bars-nav123 li{
    padding-bottom: 10px;
    padding-top: 15px;
    float: left;
    padding-right: 20px;
    color: #2b96b6;
    font-family: Helvetica;
    font-size: 16px;
}
.bars-nav123 li a{
    color: #2b96b6;
    padding-left: 10px;
}
.bars-nav123 li:first-child{
    border-radius: 5px 5px 0px 0px;
    padding-right: 30px;
}
.bars-nav123 li:first-child span:first-child i:first-child{
    font-size: 30px;
    line-height: 0em;
}
ul.bars-nav li:last-child{
    padding-right: 10px;
}
.bars-nav123 li a:hover{
    /*font-size: 17px;*/
    color: #ffffff;
    /*padding-left: 10px;*/
}
.category_list{
    /* Style for "Combined S" */
    width: 346px;
    /*height: 481px;*/
    height: auto;
    border: none;
    border-radius: 0px 0px 5px 5px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);*/
    background-color: #ffffff;
}
.category_list .logo-portal img{
    /* Style for "Bitmap" */
    width: 113px;
    height: 22px;
}
.category_list .logo-portal{
    float: left;
}
#menu1 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    top: 12px!important;
    transform: translate3d(0px, 35px,0px) !important;
}
#menu1 li a span img{
    height: 23px;
    margin: 20px 0px 0px 15px;
}

#menu1 li a span.ebay i{
    font-size: 20px;
}
#menu1 li a span.amz i{
    font-size: 20px;
    color: #e87424;
}
.carousel-item img{
    width: 100%;
    height: initial;
}
.btn-change-slides {
    font-size: 40px !important;
    color: #ffffff !important;
    opacity: 0.5 !important;
    padding: 15px !important;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
#slides{
    min-height: 200px;
}
.content-body{
    width: 90%;
    margin: auto;
    box-shadow: 0 2px 4px #d6d6d6;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    margin-top: -5%;
    padding: 15px;
}
.content-body .title-content-home{
    color: #000;
    text-align: center;
    padding-bottom: 15px;
    font-size: 32px;
}
.tutorial-shop a{
    color: #2b96b6;
}
body div.wrapper div.content-body div.col-md-2 i{
    font-size: 30px;
    line-height: 300%;
}
body div.wrapper div.content-body div.col-md-10 div{
    color: #6d7278;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 24px;
}
body div.wrapper div.content-body div.col-md-2{
    padding: 0px;
}
body div.wrapper div.content-body div.col-md-10{
    padding-left: 0px;
}
.tutorial-shop{
    text-align: center;
    color: #0091ff;
    font-family: Helvetica;
    font-size: 16px;
    padding: 15px;
}
.change-to-mobile{
    text-align: center;
    color: #0091ff;
    font-family: Helvetica;
    font-size: 14px;
    padding-bottom: 44px;
}
body div.wrapper div.content-body div.col-md-8 b{
    color: #000000;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.breadcrumb-content{
    height: auto;
    box-shadow: 0 2px 4px #dddddd;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: '»';
}
.breadcrumb .breadcrumb-item a{
    height: 17px;
    color: #0091ff;
    font-family: Helvetica;
    font-size: 14px;
}
.filter-content{
    padding-top: 0px;
}
.filter-content .category .title{
    color: rgba(0, 0, 0, 0.85);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
}
.filter-content .filter-box.category ul li{
    border: none;
    margin: 0px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Helvetica;
    font-size: 14px;
    line-height: 30px;
}
.collapse ul.sub-category li{
    padding-left: 15px;
}
.filter-content .filter-box.category ul li ul li:before{
    content: none;
}
.filter-content .filter-box.category ul li ul li{
    padding: 0px 0px 0px 20px
}
.filter-content .filter-box.category ul li a:hover{
    color: #0091ff;
}
.title-box .btn-group button{
    border: 1px solid #dedede;
    background-color: #ffffff;
    max-height: 31px;
    margin-top: 5px;
}
.title-box .btn-group button img{
    max-height: 22px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
div.title-box.inline div.form-inline input{
    width: 80px;
    border-radius: 3px;
    border: 1px solid #dedede;
}
.lable-titlebox{
    padding: 10px 10px 10px 0px;
    font-size: 14px;
}
.search-content .title-box {
    display: inline-flex;
}
div.product-list.row div a div.info div.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ico.ico-amazon:before {
    content: url("/images/logo/logo_amazon_inactive.jpg");
}
.ico.ico-amazon.active {
    content: url("/images/logo/logo_amazon_active.jpg");
}
.ico.ico-ebay:before {
    content: url("/images/logo/logo_ebay_inactive.jpg");
}
.ico.ico-ebay.active {
    content: url("/images/logo/logo_ebay.jpg");
}
#NotifyConfirmTitle{
    color: rgba(0, 0, 0, 0.85);
    font-family: Helvetica;
    font-size: 20px;
    margin: auto;
    text-align: center;
}
.btn-amazon{
    background-color: #fa6400;
    color: #ffffff;
    border: 1px #fa6400 solid;
}
.btn-amazon:hover{
    background-color: #f18d04;
    color: #fff;
    border: 1px #f18d04 solid;
}
.title {
    color: #2b96b6;
    font-size: 16px;
    font-weight: 700;
}
.footer .top .container .title{
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 400;
    color: #555555;
}
.footer .info .container .title,.footer .bot .container .title{
    font-size: 14px;
    color: #fff;
}
#menuAccount button{
    text-align: initial;
    width: 100%;
}
#menuAccount .social-button a.btn{
    text-align: center;
    width: 100%;
}
#menuAccount button i {
    padding: 0px;
    color: white;
}
#menuAccount button span {
    line-height: 2.3em;
}
.btn-fb:hover{
    background: #294b9e;
    color: white;
}
.btn-google:hover{
    background: #1a70fb;
    color: white;
}
ul#menuAccount {
    border-radius: 0px;
    display: block;
    border: none;
}
/*detail*/
.badge-buy-detail{
    color: #ffffff;
    font-size: 10px;
    border-radius: 2px 2px 40px 2px;
    background-image: linear-gradient(150deg, #e67425 0%, #298cac 100%);
    display: block;
    float: left;
    padding: 0px 10px 0px 10px;
    margin-right: 5px;
}
.condition-and-seller{
    line-height: 26px;
    font-size: 14px;
}
.title-price {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 30px;
}
.detail-block .product-full-info .price .old-price {
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
}
.name-product{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.detail-block .product-full-info .rating i{
    font-size: 14px;
}
.detail-block .product-full-info .rating span{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    margin-left: 5px;
}
ul.list-dot li{
    padding-bottom: 10px;
    list-style: disc;
}
.width-auto{
    width: auto !important;
}
.deal-shock .deal-content ul li .item{
    padding: 15px;
}
#quantity{
    width: 30px;
}
.btn.btnQuantity{
    border-radius: 50%;
}
.btn-group-detail i{
    font-size: 20px;
}
.btn-group-detail{
    padding-top: 15px;
}
.card-group-detail {
    margin-top: 15px;
}
.card-group-detail span{
    margin-right: 15px;
}
.register-prime{
    color: #6d7278;
    font-size: 13px;
    line-height: 24px;
}
.register-prime a{
    color: #0091ff;
}
div div.product-list.row div a div.info div.price strong{
    color: #e02020;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-list .item .info .price{
    padding: 0px;
}
div div.product-list.row div a div.info div.price{
    color: #6d7278;
    font-family: Helvetica;
    font-size: 12px;
}
div div.product-list.row div a div.info div.price span{
    color: #6d7278;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: initial;
    text-transform: uppercase;
}
div div.product-list.row div a div.info div.price div.notify{
    padding-top: 5px;
    padding-bottom: 5px;
}
div div.product-list.row div a div.info div.price span.old-price{
    color: #6d7278;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: line-through;
    text-transform: uppercase;
}
div div.product-list.row div a div.info div.price span.countdown{
    color: #6d7278;
    font-family: Helvetica;
    font-size: 12px;
    text-transform: lowercase;
}
.rules-weshop .header-rule{
    color: #e02020;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.rules-weshop .header-rule i{
    padding-right: 10px;
}
.rules-weshop .content-rules{
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 24px;
}
#home-slick .banner {
    margin: 0px;
}
.content-404 img{
    width: auto;
    max-width: 100%;
}
.btn-fb {
    background-color: #415a98;
    color: #ffffff;
    border-radius: 3px;
}
.btn-google {
    background-color: #3d82f1;
    color: #ffffff;
    border-radius: 3px;
}
.mb-modal-auth .content-modal-auth-mb{
    color: #999999;
    font-family: Helvetica;
    font-size: 14px;
}
.mb-modal-auth .content-modal-auth-mb button{
    width: 100%;
    padding: 11px;
    border-radius: 3px;
}
.mb-modal-auth .content-modal-auth-mb span {
    padding: 13px 0px 13px 0px;
    display: block;
}
.content-menu-cate-sub-2 .show {
    background: #f6f6f6;
}
.content-menu-cate-sub-2-item{
    padding-left: 50px;
}
.content-menu-cate-sub-2-item .title{
    color: #6d7278;
    font-size: 14px;
}
.content-menu-cate-sub-2-item ul li,.content-menu-cate-sub-2-item ul li a{
    font-size: 12px;
    color: #6d7278 !important;
    list-style: disc;
}
.content-menu-cate-sub-2-item ul{
    padding-left: 20px;
}
.detail-block .product-full-info {
    width: 65%;
    /*width: calc(100% - 470px);*/
}
.detail-block .thumb-slider {
    width: 35%;
}
.detail-block .thumb-slider .zoomWrapper .detail-big-img {
    width: -webkit-fill-available;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
.mb-slide-image{
    max-height: 324px;
}
.slick-prev:before, .slick-next:before {
    color: #d4d4d4;
}
.mb-slide-image{
    display: none;
}
.deal-title-box>.title {
    white-space: nowrap;
}
@media (min-width: 414px) {
    ul.bars-nav li{
        padding-right: 0px;
    }
    .deal-shock .deal-content ul li {
        padding: 0 5px;
        width: 50%;
        float: left;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box strong {
        font-size: 14px;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box .old-price{
        font-size: 10px;
    }
}
@media(min-width:767px){
    .deal-shock .deal-content ul li {
        padding: 0 5px;
        width: 33.3333%;
        float: left;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box strong {
        font-size: 16px;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box .old-price{
        font-size: 12px;
    }
}
@media (min-width: 991px){
    .deal-shock .deal-content ul li {
        padding: 0 5px;
        width: 20%;
        float: left;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box strong {
        font-size: 18px;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box .old-price{
        font-size: 14px;
    }
}
@media (min-width: 1090px) {
    .deal-shock .deal-content ul li {
        padding: 0 5px;
        width: 25%;
        float: left;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box strong {
        font-size: 18px;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box .old-price{
        font-size: 14px;
    }
}
@media(min-width: 1830px) {
    html, body {
        font-size: 12px;
        font-family: Helvetica;
        font-weight: 400;
        color: #555555;
    }
    .deal-shock .deal-content ul li {
        padding: 0 5px;
        width: 16.6%;
        float: left;
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box strong {
        font-size: 18px;
    }
    .deal-shock .deal-content ul li .item .info-box .price-box .old-price{
        font-size: 14px;
    }
}
/*.ico*/
@media(max-width:1090px) {
    body div.wrapper div.navbar-ws div div.search-box{
        width: 47%;
        height: 40px;
        border-radius: 5px;
    }
    ul.bars-nav li{
        padding-right: 0px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 14px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 9px;
        line-height: 20px;
    }
    .account-header-box i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 15px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 25px;
    }
    .cart-header-box i{
        font-size: 25px;
    }
    ul.bars-nav li:first-child i:first-child{
        font-size: 15px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 40px;
    }
    .account-title,ul.bars-nav li,#searchBoxInput{
        font-size: 14px;
    }
    ul.bars-nav li:first-child {
        padding-right: 0px;
    }
}
@media  (max-width: 993px) {
    .ipad-show{
        display: block;
    }
}
@media(max-width:948px) {
    body div.wrapper div.navbar-ws div div.search-box{
        width: 30%;
        height: 40px;
        border-radius: 5px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 12px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 8px;
        line-height: 20px;
    }
    .account-header-box i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 20px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 20px;
    }
    .cart-header-box i{
        font-size: 20px;
    }
    ul.bars-nav li:first-child i:first-child{
        font-size: 20px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 40px;
    }
    .account-title,ul.bars-nav li,#searchBoxInput{
        font-size: 12px;
    }
    ul.bars-nav li:first-child {
        padding-right: 20px;
    }
    ul.bars-nav li {
        padding-right: 12px;
    }
}
@media(max-width:799px) {
    ul.bars-nav li{
        padding-right: 0px !important;
    }
    body div.wrapper div.navbar-ws div div.search-box{
        height: 30px;
        border-radius: 5px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 10px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 8px;
        line-height: 20px;
    }
    .account-header-box i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 10px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 15px;
    }
    .cart-header-box i{
        font-size: 15px;
    }
    ul.bars-nav li:first-child i:first-child{
        font-size: 10px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 30px;
    }
    .account-title,ul.bars-nav li,#searchBoxInput{
        font-size: 10px;
    }
    ul.bars-nav li:first-child {
        padding-right: 15px;
    }
    ul.bars-nav li {
        padding-right: 10px;
    }
    .cart-header-box{
        line-height: 2.5em;
    }
}
/*------------------------- mobile site ---------------------------*/
@media(max-width:767px) {
    body div.wrapper div.navbar-ws div div.search-box{
        width: 30%;
        height: 40px;
        border-radius: 5px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 12px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 8px;
        line-height: 20px;
    }
    .account-header-box i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 20px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 20px;
    }
    .cart-header-box i{
        font-size: 20px;
    }
    ul.bars-nav li:first-child i:first-child{
        font-size: 20px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 40px;
    }
    .account-title,ul.bars-nav li,#searchBoxInput{
        font-size: 12px;
    }
    ul.bars-nav li:first-child {
        padding-right: 20px;
    }
    ul.bars-nav li {
        padding-right: 12px;
    }
    .content-body .title-content-home{
        font-size: 18px;
    }
    .mobile-hide{
        display: none !important;
    }
    .mobile-show{
        display: block;
    }
    body div.wrapper div.content-body div.col-md-2 i{
        line-height: normal;
    }
    body div.wrapper div.content-body div.col-md-10{
        line-height: 2em;
    }
    #slides {
        max-height: 400px;
    }
    a, .btn, .mb-menu, .detail-block2 .info-list {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    .mb-menu-filter {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    .mb-modal-auth {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    .mb-wrapper {
        background-color: #141c2e;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 20px; }

    .mb-navbar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        padding: 12px 0 12px 68px;
        background-color: #141c2e;
        border-bottom: 1px solid #141c2e;
        z-index: 99; }
    .mb-navbar .btn-back,
    .mb-navbar .btn-toggle {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 26px;
        padding: 18px;
        color: #ffffff; }
    .mb-navbar .logo img {
        height: 36px; }
    .mb-navbar .logo.amz img {
        height: 32px; }
    .mb-navbar .action {
        display: flex; }
    .mb-navbar .action li a {
        display: inline-block;
        padding: 6px 12px;
        position: relative; }
    .mb-navbar .action li a img {
        height: 24px; }
    .mb-navbar .action li a .badge {
        background: #e67425;
        color: #fff;
        border-radius: 50%;
        font-weight: 400;
        padding: .35em .5em;
        position: absolute;
        top: 0;
        right: 8px; }

    .mb-menu-nav {
        height: 60px;
        background: #fff;
        border-top: 1px solid #ebebeb;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999; }
    .mb-menu-nav ul {
        display: flex;
        text-align: center;
        font-size: 12px; }
    .mb-menu-nav ul li {
        flex: 0 0 20%; }
    .mb-menu-nav ul li a {
        color: #555555;
        display: block;
        padding: 9px 0; }
    .mb-menu-nav ul li a .icon {
        display: inline-block;
        width: 20px;
        height: 20px; }
    div.mb-wrapper.mobile-show nav ul li a i{
        font-size: 30px;
    }
    div.mb-wrapper.mobile-show nav ul li a{
        color: #2e96b6;
        padding-left: 0px;
    }
    .mb-menu {
        overflow: auto;
        position: fixed;
        top: 0;
        /*right: 0;*/
        bottom: 100%;
        width: 100%;
        background: #fff;
        border-top: 1px solid #2b96b6;
        z-index: 999;
    }
    .mb-modal-auth {
        overflow: auto;
        position: fixed;
        top: 0;
        /*right: 0;*/
        bottom: 100%;
        width: 100%;
        background: #fff;
        border-top: 1px solid #2b96b6;
        z-index: 999;
    }
    .mb-menu-filter{
        overflow: auto;
        position: fixed;
        top: 0px;
        right: -100%;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #2b96b6;
        z-index: 999;
    }
    .mb-wraper-filter{
        min-height: 100%;
        width: 80%;
        background: #fff;
    }
    .mb-menu.open {
        bottom: 0; }
    .mb-menu-filter.open{
        right: 0;
        background: #00000070;
    }
    .mb-modal-auth.open{
        bottom: 0;
    }
    .mb-menu .item-list ,.mb-menu-filter .item-list,.mb-modal-auth .item-list {
        width: 180px;
        background: #2b96b6;
        height: 100%;
        overflow-y: auto; }
    .mb-menu .item-list li ,.mb-menu-filter .item-list li {
        position: relative; }
    .mb-menu .item-list li:after ,.mb-menu-filter .item-list li:after {
        content: '';
        display: block;
        border-bottom: 1px solid rgba(254, 254, 254, 0.2);
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px; }
    .mb-menu .item-list li a ,.mb-menu-filter .item-list li a {
        color: #fff;
        display: block;
        padding: 14px 20px;
        font-weight: 500; }
    .mb-menu .item-list li.active a ,.mb-menu-filter .item-list li.active a {
        background: #fff;
        color: #2b96b6; }
    .btn-change-slides {
        font-size: 20px !important;
        color: #ffffff !important;
        opacity: 0.5 !important;
        padding: 15px !important;
        border-radius: 50% !important;
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
    .mb-wrapper .search-box-mobile{
        width: 100%;
        padding: 10px;
    }
    #searchBoxButton{
        background: #fff;
    }
    #searchBoxButton i{
        color: #6d7278;
    }
    .bars-cate-mb li{
        font-size: 14px;
        padding-right: 30px;
    }

    .bars-cate-mb li a,.bars-cate-mb li i{
        color: #2b96b6;
        font-size: 14px;
    }
    .title-mb-menu{
        width: 100%;
        background-color: #141c2e;
        height: fit-content;
        padding: 14px;
    }
    .title-mb-menu span{
        color: #ffffff;
        font-family: Helvetica;
        font-size: 16px;
    }
    .title-mb-menu i{
        color: #ffffff;
        font-family: "LineAwesome";
        font-size: 26px;
    }
    .mb-wraper-filter .title-mb-menu{
        border: 1px solid #efefef;
        text-align: center;
        width: 100%;
        background-color: #fff;
        height: fit-content;
        padding: 14px;
    }
    .mb-wraper-filter .title-mb-menu span{
        color: rgba(0, 0, 0, 0.85);
        font-family: Helvetica;
        font-size: 14px;
    }
    .mb-wraper-filter .title-mb-menu i{
        color: rgba(0, 0, 0, 0.85);
        font-family: "LineAwesome";
        font-size: 14px;
        float: left;
    }
    .title-submenu{
        padding: 15px;
    }
    .mb-menu-cate .submenu-2 li{
        padding: 5px;
    }
    .title-submenu img{
        max-height: 35px;
    }
    ul.mb-menu-filter-cate li {
        border: 1px solid #efefef;
    }
    .alert-right {
        float: right;
    }
    ul.mb-menu-filter-cate li ul li {
        border: none;
        padding: 5px 15px 5px 25px;
    }
    ul.mb-menu-filter-cate li #category-filter ul li a{
         color: rgba(0, 0, 0, 0.85);
     }
    .btn-search-mb{
        width: 100%;
        padding-top: 25px;
        text-align: center;
    }
    .title {
        color: #2b96b6;
        font-size: 12px;
        font-weight: 700;
    }
    .btn-search-mb button{
        width: 80%;
    }
    .content-modal-auth-mb{
        padding: 28px;
    }
    #category-mb-amazon ul li a,#category-mb-ebay ul li a{
         color: rgba(0, 0, 0, 0.85);
     }
    #category-mb-ebay ul li ul li a.active,#category-mb-amazon ul li ul li a.active{
        color: #2b96b6;
    }
    #category-mb-amazon .sub-cate-2 ,#category-mb-ebay .sub-cate-2 {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    #category-mb-amazon .sub-cate-2,#category-mb-ebay .sub-cate-2{
        overflow: auto;
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #2b96b6;
        z-index: 999;
    }
    #category-mb-amazon .sub-cate-2.open, #category-mb-ebay .sub-cate-2.open {
        left: 0; }
    .content-menu-cate-sub-2 .title-submenu i{
        padding-right: 20px;
        font-size: 14px;
        color: #2b96b6;
    }
    #category-mb-amazon .content-menu-cate-sub-2 .title-submenu a,.content-menu-cate-sub-2 .title-submenu a{
        color: #2b96b6;
        font-size: 14px;
    }
    /*.mb-menu-cate{*/
    /*    padding-top: 15px;*/
    /*    padding-left: 15px;*/
    /*}*/
    .detail-block .product-full-info {
        width: 100%;
        margin-left: auto;
        /*width: calc(100% - 470px);*/
    }
    .detail-block .thumb-slider {
        width: 0%;
        display: none;
    }
    .name-product{
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }
    .badge-buy-detail {
        margin-top: 5px;
        line-height: normal;
    }
    .condition-and-seller,.detail-block .product-full-info .rating span,.detail-block .product-full-info .rating i{
        font-size: 11px!important;
    }
    .option-box .form-control{
        width: 100%!important;
    }
    .mb-slide-image{
        display: block;
    }
    .mb-slide-image img{
        width: 100%;
        max-height: -webkit-fill-available;
    }
    .btn-group-detail button#buyNowBtn{
        text-align: center;
        width: 100%;
    }
    button#installmentBtn, button#addToCart {
        width: 49%;
        font-size: 12px;
        margin-top: 1%;
    }
}
@media (max-width: 360px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-6 .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-6 .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    body div.wrapper div.content-body div.col-sm-10 div,body div.wrapper div.content-body div.col-sm-2 div{
        font-size: 12px;
    }
    body div.wrapper div.content-body div.col-md-2 i{
        font-size: 24px;
    }
}

