.navbar-ws,body > div.wrapper > div.navbar-ws > div.container{
    /* Style for "Rectangle" */
    background-color: #141c2e;
    margin-top: 0px;
    padding-bottom: 0px;
}
.navbar-ws .logo{
    width: auto;
    padding-right: 15px;
}
.logo-pc{
     /* Style for "weshop-01" */
     width: 180px;
     height: 50px;
 }
body > div.wrapper > div.navbar-ws > div.container{
    padding-top: 11px;
    margin: auto;
}
.search-box{
    /*float: left;*/
    padding-right: 15px;
    height: 50px;
    text-align: right;
}
#searchBoxButton{
    border-radius: 0px 5px 5px 0px;
    height: inherit;
    background-color: #e67424;
}
#searchBoxInput{
    height: inherit;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffffff;
    /* Style for "Nhập tên s" */
    color: #6d7278;
    font-family: Helvetica;
    font-size: 16px;
}
body > div.wrapper > div.navbar-ws > div > div.search-box{
    width: 652px;
    border-radius: 5px;
}
#ico-search{
    transform: scaleX(-1);
    color: #fff;
    font-size: 30px;
}
.cart-header-box{
    color: #e67424;
    height: 50px;
    line-height: 4em;
    padding-right: 15px;
}
.cart-header-box i{
    font-size: 30px;
}
.cart-header-box span.label-cart{
    color: #e67424;
    font-family: Helvetica;
    font-size: 16px;
}
.option-auth{
    color: #2b96b6;
    font-family: Helvetica;
    font-size: 9px;
    line-height: 20px;
    font-size: 10px;
}
.account-title{
    color: #2b96b6;
    font-size: 16px;
}
.account-header-box > i{
    padding-top: 10px;
    width: 30px;
    height: 36px;
    color: #2b96b6;
    font-family: "LineAwesome";
    font-size: 30px;
    float: left;
}
ul.bars-nav > li{
    padding-bottom: 10px;
    padding-top: 15px;
    float: left;
    padding-right: 20px;
    color: #2b96b6;
    font-family: Helvetica;
    font-size: 16px;
}
ul.bars-nav > li a{
    color: #2b96b6;
    padding-left: 10px;
}
ul.bars-nav > li:first-child{
    border-radius: 5px 5px 0px 0px;
    padding-right: 30px;
}
ul.bars-nav > li:first-child i:first-child{
    font-size: 30px;
    line-height: 0em;
}
ul.bars-nav > li:last-child{
    padding-right: 0px;
}
.category_list{
    /* Style for "Combined S" */
    width: 346px;
    /*height: 481px;*/
    height: auto;
    border: none;
    border-radius: 0px 0px 5px 5px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);*/
    background-color: #ffffff;
}
.category_list .logo-portal img{
    /* Style for "Bitmap" */
    width: 113px;
    height: 22px;
}
.category_list .logo-portal{
    float: left;
}
#menu1 {
    top: 12px!important;
}
#menu1 li a span img{
    height: 23px;
    margin: 20px 0px 0px 15px;
}

#menu1 li a span.ebay i{
    font-size: 20px;
}
#menu1 li a span.amz i{
    font-size: 20px;
    color: #e87424;
}
.carousel-item img{
    width: 100%;
}
.btn-change-slides {
    font-size: 40px !important;
    color: #ffffff !important;
    opacity: 0.5 !important;
    padding: 15px !important;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}
#slides{
    min-height: 200px;
}
.content-body{
    /*width: 85%;*/
    /*margin: auto;*/
    box-shadow: 0 2px 4px #d6d6d6;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    margin-top: -130px;
    padding: 15px;
}
.content-body h3{
    color: #000;
    text-align: center;
    padding-bottom: 15px;
}
body div.wrapper div.content-body div.col-md-2 i{
    font-size: 30px;
    line-height: 300%;
}
body div.wrapper div.content-body div.col-md-8 div{
    color: #6d7278;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 24px;
}
body div.wrapper div.content-body div.col-md-2{
    padding: 0px;
}
body div.wrapper div.content-body div.col-md-8{
    padding: 0px;
}
.tutorial-shop{
    text-align: center;
    color: #0091ff;
    font-family: Helvetica;
    font-size: 16px;
    padding: 15px;
}
.change-to-mobile{
    text-align: center;
    color: #0091ff;
    font-family: Helvetica;
    font-size: 14px;
    padding-bottom: 44px;
}
body div.wrapper div.content-body div.col-md-8 b{
    color: #000000;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
@media(max-width:1090px) {
    body > div.wrapper > div.navbar-ws > div > div.search-box{
        width: 580px;
        height: 40px;
        border-radius: 5px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 14px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 9px;
        line-height: 20px;
    }
    .account-header-box > i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 25px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 25px;
    }
    .cart-header-box i{
        font-size: 25px;
    }
    ul.bars-nav > li:first-child i:first-child{
        font-size: 25px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 40px;
    }
    .account-title,ul.bars-nav > li,#searchBoxInput{
        font-size: 14px;
    }
    ul.bars-nav > li:first-child {
        padding-right: 25px;
    }
}
@media(max-width:879px) {
    body > div.wrapper > div.navbar-ws > div > div.search-box{
        width: 380px;
        height: 40px;
        border-radius: 5px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 12px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 8px;
        line-height: 20px;
    }
    .account-header-box > i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 20px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 20px;
    }
    .cart-header-box i{
        font-size: 20px;
    }
    ul.bars-nav > li:first-child i:first-child{
        font-size: 20px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 40px;
    }
    .account-title,ul.bars-nav > li,#searchBoxInput{
        font-size: 12px;
    }
    ul.bars-nav > li:first-child {
        padding-right: 20px;
    }
    ul.bars-nav > li {
        padding-right: 12px;
    }
}
@media(max-width:774px) {
    body > div.wrapper > div.navbar-ws > div > div.search-box{
        width: 280px;
        height: 30px;
        border-radius: 5px;
    }
    .cart-header-box span.label-cart{
        color: #e67424;
        font-family: Helvetica;
        font-size: 10px;
    }
    .option-auth{
        color: #2b96b6;
        font-family: Helvetica;
        font-size: 8px;
        line-height: 20px;
    }
    .account-header-box > i{
        padding-top: 8px;
        color: #2b96b6;
        font-family: "LineAwesome";
        font-size: 15px;
        float: left;
    }
    #ico-search{
        transform: scaleX(-1);
        color: #fff;
        font-size: 15px;
    }
    .cart-header-box i{
        font-size: 15px;
    }
    ul.bars-nav > li:first-child i:first-child{
        font-size: 15px;
        line-height: 0em;
    }
    .navbar-ws .logo img,.navbar-ws .logo,.cart-header-box,.account-header-box{
        height: 30px;
    }
    .account-title,ul.bars-nav > li,#searchBoxInput{
        font-size: 10px;
    }
    ul.bars-nav > li:first-child {
        padding-right: 15px;
    }
    ul.bars-nav > li {
        padding-right: 10px;
    }
    .cart-header-box{
        line-height: 2.5em;
    }
}
@media(max-width:975px) {
    body > div.wrapper > div.navbar-ws > div > div.search-box{
        width: 480px;
        height: 40px;
        border-radius: 5px;
    }
}
@media(max-width:858px) {
    body > div.wrapper > div.navbar-ws > div > div.search-box{
        width: 330px;
        height: 40px;
        border-radius: 5px;
    }
}
#home-slick .banner {
    margin: 0px;
}